:root {
  color-scheme: light;

  --link-enlargement: 0.4rem;
  --link-outline: calc(var(--link-enlargement) / 2);

  --hero-gap-y: clamp(3rem, 4vw + 1.5rem, 5rem);
  --hero-text: clamp(2.25rem, 5.5vw + 1rem, 4.5rem);
  --logo-size: clamp(3rem, 4.5vw + 1rem, 4.5rem);
}

::selection {
  background-color: var(--color-accent);
  color: var(--color-bg);
}
