:root {
  --base: #cfcfcf;
  --text: #212121;
}

html[data-theme="🌚"] {
  --base: #212121;
  --text: #cfcfcf;
}

html {
  color-scheme: light dark;
}

body {
  color: var(--text);
  background-color: var(--base);
  font-family: system-ui;
  font-size: 1.5rem;
}