---
import Logo from "./Logo.astro";
---

<header class="px-page-x pt-page-y-md">
  <a href="/" aria-label="Home">
    <Logo class="w-(--logo-size) h-(--logo-size)" bg="black" fg="white" />
  </a>
</header>
