---
import Logo from "./Logo.astro";
---

<header class="px-(--page-inline) pt-(--page-block-md)">
  <a href="/" aria-label="Home" class="inline-block text-slate-900">
    <Logo class="w-(--logo-size) h-(--logo-size)" bg="black" fg="white" />
  </a>
</header>
