---
import Logo from "./Logo.astro";
---

<header class="px-6 pt-10 sm:px-10">
  <a href="/" aria-label="Home" class="inline-block text-slate-900">
    <Logo class="h-[76px] w-[76px]" bg="black" fg="white" />
  </a>
</header>
